<footer>
<p>
    <a href="/feed.xml"><svg><use href="/img/icons.svg#rss"/></svg>subscribe</a>
    <a href="/blog">posts</a>
    <a href="https://github.com/deparr"><svg><use href="/img/icons.svg#github"/></svg>deparr</a>
    <a href="mailto:blog@dparrott.dev"><svg><use href="/img/icons.svg#email"/></svg>mail</a>
</p>
</footer>
