<nav>
    <a class="depth-button" href="/">home</a>
    <a class="depth-button" href="/blog">posts</a>
    <button class="flat-button" id="theme-toggle" title="toggle theme"><svg class="toggle-icon"><use href="/img/icons.svg#sun-moon"/></svg</button>
</nav>
