#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  /* background-color: #239024; */
}

body {
  background-color: #343434;
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
  width: 60%;
  display: block;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

a {
    text-decoration: none;
}

p {
  line-height: 1.5;
  color: #e0e0e0;
}

span {
  text-transform: uppercase;
  color: #d38343;
  font-weight: 600;
}

